*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-family: "B Nazanin";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

body
{
    display: flex;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* min-height: 100px; */
    background:#9AC5F4;
}


button:hover{
    transition: 1s;
    background-color: #b0d8ed;
    cursor: pointer;
}

button{
    transition: 1s;
	   width: 100px;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
    cursor: pointer;
}


.main{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background:#67a7eb;
    box-shadow: 10px 5px 5px rgb(108, 131, 179);
}

td{
    border: 5px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    cursor: pointer;
    border-radius: 10px;
}

table{
    background-color: white;
    border-collapse: collapse;
    border-radius: 5px;
    position:absolute;
    left: 50%;
    margin-left: -150px;
     top: 100px; 
}

#endGame
{
    display:none;
    width: 200px;
    top: 200px;
    background-color: rgb(205, 113, 63,0.8);
    position:absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

/* table tr:first-child td
{
    border-top: 0;  
}

table tr:last-child td
{
    border-bottom: 0;  
}

table tr td:first-child
{
    border-left: 0;  
}

table tr td:last-child
{
    border-right: 0;  
} */

@media screen and (max-width: 800px) {
    .wrapper{
        width: 90vmin;
        height: 115vmin;
    }

    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls{
        display: flex;
    }

    .controls i{
        padding: 15px 0;
        font-size: 1rem;
    }
}
