*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-family: "B Nazanin";
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

body
{
    display: flex;
    padding: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    /* min-height: 100px; */
    background:#9AC5F4;
}

button:hover{
    transition: 1s;
    background-color: #b0d8ed;
    cursor: pointer;
}

button{
    transition: 1s;
	   width: 100px;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
    cursor: pointer;
}

.btns
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    box-shadow: 0  0 0 3px black;
    background-color: white;
    line-height: 100px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 10px;
}

.main{
    width: 400px;
    height: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background:#67a7eb;
    box-shadow: 10px 5px 5px rgb(108, 131, 179);
}

#pnlBtns
{
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* width: 225px; */
    margin: auto;
}

#gameBoard
{
    text-align: center;
}


@media screen and (max-width: 800px) {
    .wrapper{
        width: 90vmin;
        height: 115vmin;
    }

    .game-details{
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls{
        display: flex;
    }

    .controls i{
        padding: 15px 0;
        font-size: 1rem;
    }
}